*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#character {
    width: 250px;
    height: 250px;
    image-rendering: pixelated;
    animation: character-run .5s infinite ;
}

/* .bg{
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: end;
} */

.game{
    width: 100vw;
    height: 75vh;
    border: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: end;
}

.animate{
    animation: jump 0.25s linear;
}
@keyframes jump{
    45%{top: 50px;}
    75%{top: 100px;}
    100%{top: 150px;}
}

#block{
    background-color: rgb(255, 38, 0);
    width: 20px;
    height: 20px;
    position: relative;
    top: 139px;
    left: 500px;
    animation: block .5s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}

p{
    text-align: center;
}
