*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.game{
    width: 90vw;
    height: 70vh;
    border: 1px solid black;
    margin: auto;
    background-color: blanchedalmond;
    
}

#character {
    width: 250px;
    height: 250px;
    image-rendering: pixelated;
    position: relative;
    top: 250px;
    animation: character-run .5s infinite ;
}

#char{
    background-image: url(./assets/sR1.png);
}

.jump{
    animation: jump-animation 0.25s linear;
}
@keyframes jump-animation{
    45%{top: 50rem;}
}

#block{
    background-color: rgb(255, 38, 0);
    width: 60px;
    height: 60px;
    position: relative;
    top: 160px;
    left: 500px;
    animation: block .5s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -20px}
}

p{
    text-align: center;
}
